@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(25, 25, 25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  color: #fff;
}

.navbar {
  display: flex;
}

.navbar a {
  color: #fff;
}

.navbar ul li {
  cursor: pointer;
  margin: 0 21px;
  color: #fff;
}

.navbar a:hover {
  color: rgba(230, 101, 25, 1);
}

#logo {
  width: 38%;
}

.navbar ul {
}

.intro {
  padding: 55px 0 144px 0;
}

.intro-copy {
  padding: 144px 0;
}

.salesform {
  padding: 89px 0px;
}

#alien {
  position: sticky;
  left: 613px;
  transform: scale(115%);
  animation: animalien 15.618s ease-in-out infinite;
}

@keyframes animalien {
  37% {
    left: 595px;
    transform: scale(100%);
  }
  62% {
    left: 615px;
    transform: scale(138%);
  }
  86% {
    left: 602px;
    transform: scale(105%);
  }
  100% {
    left: 613px;
    transform: scale(115%);
  }
}

.intro h1 {
  font-size: 144px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(25, 101, 230, 1) 35%,
    rgba(0, 25, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 13px rgba(101, 230, 230, 1);
}

.intro h3 {
  font-size: 34px;
  background: -webkit-linear-gradient(rgb(230, 230, 25), rgb(230, 63, 25));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  text-shadow: 0 0 13px #fff;
}

.salesform {
  margin: 89px auto;
}

.aliensection {
  padding: 144px 0;
}

#banner {
  margin: 89px auto;
  width: 100%;
  box-shadow: 0 0 13px #ff2233;
  animation: animbanner 1.62s ease-in-out infinite;
}

@keyframes animbanner {
  from {
    box-shadow: 0 0 13px #fff;
  }
  to {
    box-shadow: 0 0 13px #ff2233;
  }
}

.signupform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(0, 25, 230, 0.62) 0%,
    rgba(0, 25, 101, 0.62) 35%,
    rgba(255, 25, 0, 1) 100%
  );
  padding: 21px;
  width: 677px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgb(0, 101, 230);
}

.signupform p {
  text-shadow: 0 0 5px #fff;
}

.signupform input[type="text"] {
  height: 34px;
  width: 377px;
  text-align: center;
  border-radius: 21px;
  margin: 5px 0;
  border: 1px solid rgb(230, 230, 230);
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

#brandlogo {
  background-image: url("./media/logo.png");
  background-size: contain;
  width: 55px;
  height: 55px;
}

footer {
  padding: 144px 0;
  background-color: rgb(40, 40, 40);
  color: #fff;
}

.headline {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 25, 1) 0%,
    rgba(255, 230, 25, 1) 35%,
    rgba(255, 255, 25, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 21px rgba(255, 255, 25, 1);
}

.purchaseinfo {
  padding: 34px 0;
}

.btn-slide-purchase {
  background: rgb(25, 25, 25);
  cursor: pointer;
  color: rgb(230, 230, 230);
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid rgb(230, 63, 0);
  border-radius: 3px;
  padding: 13px 34px;
  box-shadow: inset 0 0 0 0 rgb(230, 63, 0);
  -webkit-transition: ease-out 0.38s;
  -moz-transition: ease-out 0.38s;
  transition: ease-out 0.38s;
  width: 144px;
  height: 55px;
}
.btn-slide-purchase:hover {
  color: rgb(25, 25, 25);
  box-shadow: inset 200px 0 0 0 rgb(101, 230, 0);
  border: 2px solid rgb(101, 230, 0);
}

.btn-slide {
  background: rgb(25, 25, 25);
  cursor: pointer;
  color: rgb(230, 230, 230);
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid rgb(230, 63, 0);
  border-radius: 3px;
  padding: 13px 34px;
  box-shadow: inset 0 0 0 0 rgb(230, 63, 0);
  -webkit-transition: ease-out 0.38s;
  -moz-transition: ease-out 0.38s;
  transition: ease-out 0.38s;
}
.btn-slide:hover {
  color: rgb(230, 230, 230);
  box-shadow: inset 200px 0 0 0 rgb(230, 101, 0);
  border: 2px solid rgb(230, 101, 0);
}
.inputelement {
  justify-content: center;
  align-items: center;
}

.inputelement input[type="text"] {
  width: 377px;
  height: 34px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .signupform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(25, 25, 25, 0.62);
    padding: 21px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid rgb(230, 101, 0);
  }
}
